<%= link_to gravatar_for(current_user, size: Settings.max_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("view_my_profile"), current_user %></span>
<span><%=  t "micropost_user", sum_post: @current_user.microposts.size %></span>
